html, body {
    height: 100%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 52px 15px 2px 15px;
}

.columns {
    height: 100%;
}

.left-menu, .right-content {
    height: 100%;
    padding-right: 2px;
    padding-left: 2px;
}

.left-menu-toolbar {
    height: 42px;
}

.left-menu-panel {
    height: 100%;
}

.right-content-panel {
    height: 100%;
}

.sidebar-tree {
    padding: 2px;
}

.sidebar-shortcuts {
    padding: 2px;
    display: none;
}

.seach-menu{
    padding: 2px;
}


/** 这是快捷功能项 **/
.shortcuts-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.shortcuts-list > li {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    position: relative
}

.shortcuts-list > li:first-child {
    border-top: 0
}

.shortcuts-list > li > a {
    display: block;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color: #585858;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none
}

.shortcuts-list > li > a:focus {
    background-color: #f9f9f9;
    color: #1963aa
}

.shortcuts-list > li > a:hover {
    background-color: #FFF;
    color: #1963aa
}

.shortcuts-list > li > a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #3382af
}

/** 顶部导航栏样式  */
.navbar-primary {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    background-color: #428bca;
    border-color: #357ebd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-primary .navbar-collapse {
    border-color: #3542e0;
}

.navbar-primary .navbar-brand {
    color: #fff;
}

.navbar-primary .navbar-nav > li > a {
    color: rgb(250, 250, 250);
}

.navbar-primary .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #457fc9;
}

.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #457fc9;
}

.navbar-primary .navbar-toggle {
    border-color: #dddddd;
}

.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
    background-color: #357ebd;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #cccccc;
}



/** 公共控件样式  */
.alert-custom {
    top: 150px;
    position: absolute;
    width: 90%;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
}

.alert-custom .alert-btn-custom {
    width: 90%;
    margin-left: auto;
}

/*--控制按钮----------------------------------------------------------------*/
.left-menu-toggler {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 52px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: normal;
    padding-left: 33px;
    padding-top: 7px;
    padding-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #348dc9;
    border-color: #dddddd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    border: 1px solid #dddddd;
    color: #f3f3f3;
}

.left-menu-toggler:hover {
    text-decoration: none;
    background-color: #357ebd;
}

.left-menu-toggler:before {
    border-top: 1px solid #87b87f;
    border-bottom: 1px solid #6fb3e0;
    height: 2px;
    width: 24px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 8px;
    left: 14px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
    -o-transition: none
}

.left-menu-toggler:after {
    border-top: 1px solid #ffa24d;
    border-bottom: 1px solid #d15b47;
    content: "";
    height: 2px;
    width: 24px;
    position: absolute;
    top: 12px;
    left: 14px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
    -o-transition: none
}

.left-menu-toggler.display:before {
    height: 4px;
    top: 8px;
    border-width: 2px
}

.left-menu-toggler.display:after {
    height: 4px;
    top: 20px;
    border-width: 2px
}

.left-menu-toggler > .menu-text {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.left-menu-toggler > .menu-text:after {
    display: block;
    content: "MENU";
    color: #FFF;
    position: absolute;
    left: 8px;
    top: -41px
}

/*--版本信息-------------------------------------------------------------*/
.version-info {
    border: 0;
    position: absolute;
    bottom: 2px;
    line-height: 24px;
    padding-left: 1px;
    padding-bottom: 1px;
    z-index: 2147483647;
    cursor: pointer;
}

/*--适应屏幕-------------------------------------------------------------*/
@media only screen and (max-width: 979px) {
    .navbar-brand {
        margin-left: 55px;
    }

    .version-info {
        display: none;
    }

}