<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Cache-Control"  content="no-cache, must-revalidate">
  <meta http-equiv="expires"  content="Wed, 26 Feb 1997 08:21:57 GMT">
  <title app-desc="name">loading...</title>

  <!-- Loading Bootstrap -->
  <link href="/app/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- custom style css -->
  <link rel='stylesheet'  type='text/css' href='/app/lib/utils/dynatree/skin-vista/ui.dynatree.css'>
  <link rel='stylesheet'  href="/app/lib/jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css"/>
  <link rel='shortcut icon' href="/app/images/favicon.ico">
  <link rel='stylesheet'  type='text/css' href='/app/css/common.css'>
</head>

<body>
<div id="console"></div>
<div ng-controller="view3Ctrl">
<button type="button" class="btn btn-primary btn-lg" ng-click="alert()">警告框</button><br>
</div>

<!-- javascripts -->
  <!--[if lt IE 9]>
  <script src="/app/lib/bootstrap/assets/js/html5shiv.js"></script>
  <script src="/app/lib/bootstrap/assets/js/respond.min.js"></script>
  <![endif]-->


<!-- end  javascripts-->
</body>
</html>