<div class="panel-heading">主页面</div>
<div class="body">
    <div class="btn-group">
        <button type="button" class="btn btn-success" data-gmsg="测试信息" data-gmsg-type="info" data-toggle="gmsg">
            <i class="glyphicon glyphicon-send"></i>
            信息
        </button>
        <button type="button" class="btn btn-warning" data-gmsg="测试错误" data-gmsg-type="error" data-toggle="gmsg">
            <i class="glyphicon glyphicon-fire"></i>
            错误
        </button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[data-toggle=gmsg]").click(function () {
            var message = $(this).data('gmsg');
            var type = $(this).data('gmsg-type');
            Messenger().post({
                        message: message,
                        type: (type == undefined || type == 'info') ? 'info' : 'error',
                        showCloseButton: true
                    }
            );
        });
    });
</script>