<div class="col-xs-12 col-md-8 col-lg-8" style="position: absolute; z-index:999; margin: auto;">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div>
  <tabset direction="below">
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" close="closeMe(tab.id)">
    	<div ng-switch="tab.type">
			<div ng-switch-when="frame">
				<iframe frameBorder=0 scrolling=no src="{{tab.url}}" width="100%" height="500"></iframe>
			</div>
			<div ng-switch-default>
				<div ng-include="tab.url">
				</div>
			</div>
		</div>
    </tab>
  </tabset>
</div>

